<ion-menu side="start" menuId="first" contentId="main">
  <ion-header >
    <ion-toolbar color="warning">
      <ion-button color="warning" style="text-align: right;" slot="end" (click)="closeFirst()"><ion-icon name="close-circle-outline" ></ion-icon></ion-button>
      <ion-title>Menu - Barrio: {{barrio}}
        
         
      </ion-title>
      

    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button color="light">
        <ion-item><ion-icon name="earth-outline"></ion-icon> Conocer mi Comuna</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="call-outline"></ion-icon>Junta de acción comunal</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="accessibility-outline"></ion-icon> Que puedo hacer en mi Barrio</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="calendar-outline"></ion-icon>Proximos eventos en mi Barrio</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="people-circle-outline"></ion-icon>Conocer personas de mi barrio</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="cart-outline"></ion-icon>Emprendimientos de mi Barrio</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="book-outline"></ion-icon>Derechos y Deberes mi Barrio</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="color-filter-outline"></ion-icon>Objetivos desarrollo sostenible</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="calculator-outline"></ion-icon>Contabilidad de mi Barrio</ion-item>
      </ion-button>
      
    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id="main"></ion-router-outlet>

<ion-header [translucent]="true">
  
  <ion-toolbar>
    
    <ion-title style="text-align: center; margin-left: auto; margin-right: auto;">
      <ion-chip outline="warning" style="margin-left: 0%; margin-right: 0%;" (click)="openFirst()">
        <ion-icon name="menu-outline" color="dark" style="height: 60px;width: 30px; margin-left: 0%; margin-right: 0%;"></ion-icon>
      </ion-chip>
      <ion-chip outline="warning"> Barrio: {{barrio}}
      </ion-chip>
      
      <ion-chip outline="warning">
        <ion-avatar style="margin-left: 0%; margin-right: 0%;">
          <img src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg">
          
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-segment scrollable value="home" >
    <ion-segment-button value="home" (click)="publicaciones=true; discuciones=false" style="text-align: center; margin-left: auto; margin-right: auto;">
      <ion-label name="home">Publicaciones Junta</ion-label>
    </ion-segment-button>
    <ion-segment-button value="heart" (click)="discuciones=true; publicaciones=false " style="text-align: center; margin-left: auto; margin-right: auto;">
      <ion-label name="home">Discución Pública</ion-label>
    </ion-segment-button>
  </ion-segment>
    <div *ngIf="publicaciones" style="text-align: center; margin-left: auto; margin-right: auto;">
      <p> publicaciones </p>
    </div>

    <div *ngIf="discuciones" style="text-align: center; margin-left: auto; margin-right: auto; max-width: 800px;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mi Barrio
            <a href="https://t.me/joinchat/AWG8yrgwO14xMWJh" Target="_Blank"><ion-chip color="primary" >
              <ion-avatar>
                <img src="https://res.cloudinary.com/conexionpublica/image/upload/v1621528803/t_logo_ch6mb6.png">
              </ion-avatar>
              <ion-label>Registrarme en Grupo de Telegram</ion-label>
            </ion-chip></a>
          </ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Discutamos el desarrollo juntos..
          <a href="https://web.telegram.org/#/im?p=s1401194554_16913756030401305367" Target="_Blank"><ion-chip color="primary" >
            <ion-avatar>
              <img src="https://res.cloudinary.com/conexionpublica/image/upload/v1621528803/t_logo_ch6mb6.png">
            </ion-avatar>
            <ion-label>chat</ion-label>
          </ion-chip></a>
          <iframe src="https://chatbro.com/37unE" frameborder="0" style="width: 100%;min-height: 250px;"></iframe>
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>
